@import url('./fonts/stylesheet.css');


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}


html {
  background-color: #202020;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

button {
  border: unset;
  border-radius: unset;
  background-color: unset;
  padding: 0px;
}

input {
    margin: 0px;
    padding: 0px;

}

a {
  color: black;
  text-decoration-line: none;
}

img {
  max-width: 100%;
  display: block;
}